<div class="row">
    <div class="col-md-2">
        <div ng-bind="$ctrl.item.customDate.day_month"></div>
        <div ng-bind="$ctrl.item.customDate.dayOfWeek"></div>
    </div>
    <div class="col-md-4"><span ng-bind="$ctrl.item.comment"></span></div>
    <div class="col-md-2"><span ng-bind="$ctrl.item.amount"></span></div>
    <div class="col-md-2"><span ng-bind="$ctrl.item.payment_method"></span></div>
    <div class="col-md-2">
        <button class="btn btn-danger pull-right" ng-click="$ctrl.removeOperation()">X</button>
        <button class="btn btn-info pull-right" ng-click="$ctrl.editOperation()">Edit</button>
    </div>
</div>
<!--<label ng-hide="$ctrl.item.$edit">
  <input type="checkbox" ng-click="$ctrl.isComplete()"  ng-checked="$ctrl.item.isComplete"> 
  <span ng-bind="$ctrl.item.title" ng-class="{completed: $ctrl.item.isComplete}"></span>
</label>
<input type="text" class="form-control" ng-model="$ctrl.item.title" ng-show="$ctrl.item.$edit" ng-blur="$ctrl.editItem()">-->
