<div class="row">
    <div class="col-md-4">
        <balance></balance>
    </div>
    <div class="col-md-8">
        <input-output item='$ctrl.item' update='$ctrl.showLastAddedOperation()'></input-output>
    </div>
    <div class="col-xs-8 col-sm-8" >
        <!--<label ng-show="$ctrl.$showOperation"></label>
        <operations-item class="list-group-item " item='operation' remove-operation='$ctrl.removeOperation(operation._id)' edit-operation='$ctrl.editOperation(operation)' >
        </operations-item>-->
    </div>
    <div class="col-xs-12" >
        <!--<div ng-controller="SalesController">
            <div linear-chart chart-data="salesData"></div>
        </div>-->
    </div>
</div>
