.balance{
    text-indent: -0.6em;
    font-weight: normal;
    font-size: 30px;
}

.account-title{
    font-weight: bold;
}

.account{
    text-indent: -0.6em;
    font-weight: normal;
    font-size: 17px;
}
